@model DogGo.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Walker Profile</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model =>model.Walker.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighborhood.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.ImageUrl)           
        </dt>
        <dd class = "col-sm-10">
            <img class="bg-info" src="@Model.Walker.ImageUrl" alt="avatar" />
        </dd>
    </dl>
</div>
<div>
    <h2>Recent Walks</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Client</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Walks)
            {
                <tr>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    <td>
                        @item.DogId
                    </td>
                    <td>
                       @item.ConvertedDurationToMins(item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<aside>
    <h2>Total Walk Time</h2>
    <div>
        @Model.ConvertedDurationToHrsMins(Model.Walks)
    </div>
</aside>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
